/* Coolors Exported Palette - https://coolors.co/0e4876-643291-962c8c-bfbdc1-deb841 */

/* CSS HEX */
--indigo-dye: #0e4876ff;
--rebecca-purple: #643291ff;
--plum: #962c8cff;
--french-gray: #bfbdc1ff;
--gold-metallic: #deb841ff;

/* CSS HSL */
--indigo-dye: hsla(207, 79%, 26%, 1);
--rebecca-purple: hsla(272, 49%, 38%, 1);
--plum: hsla(306, 55%, 38%, 1);
--french-gray: hsla(270, 3%, 75%, 1);
--gold-metallic: hsla(45, 70%, 56%, 1);

/* SCSS HEX */
$indigo-dye: #0e4876ff;
$rebecca-purple: #643291ff;
$plum: #962c8cff;
$french-gray: #bfbdc1ff;
$gold-metallic: #deb841ff;

/* SCSS HSL */
$indigo-dye: hsla(207, 79%, 26%, 1);
$rebecca-purple: hsla(272, 49%, 38%, 1);
$plum: hsla(306, 55%, 38%, 1);
$french-gray: hsla(270, 3%, 75%, 1);
$gold-metallic: hsla(45, 70%, 56%, 1);

/* SCSS RGB */
$indigo-dye: rgba(14, 72, 118, 1);
$rebecca-purple: rgba(100, 50, 145, 1);
$plum: rgba(150, 44, 140, 1);
$french-gray: rgba(191, 189, 193, 1);
$gold-metallic: rgba(222, 184, 65, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-right: linear-gradient(90deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-bottom: linear-gradient(180deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-left: linear-gradient(270deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-top-right: linear-gradient(45deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-bottom-right: linear-gradient(135deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-top-left: linear-gradient(225deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-bottom-left: linear-gradient(315deg, #0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);
$gradient-radial: radial-gradient(#0e4876ff, #643291ff, #962c8cff, #bfbdc1ff, #deb841ff);