root {
    --eui-primary: #0e4876;
--eui-primary-rgb: 14, 72, 118;
--eui-primary-dark: #0a3253;
--eui-primary-dark-rgb: 10, 50, 83;
--eui-secondary: #1155CC;
--eui-secondary-rgb: 17, 85, 204;
--eui-secondary-dark: #0c3b8f;
--eui-secondary-dark-rgb: 12, 59, 143;
--eui-yellow: #f1c46f;
--eui-yellow-rgb: 241, 196, 111;
--eui-yellow-dark: #c19d59;
--eui-yellow-dark-rgb: 193, 157, 89;
--eui-red: #8B4332;
--eui-red-rgb: 139, 67, 50;
--eui-black: #131516;
--eui-black-rgb: 19, 21, 22;
--eui-dark: #212529;
--eui-dark-rgb: 33, 37, 41;
--eui-light-blue: #EEF3F9;
--eui-light-blue-rgb: 238, 243, 249;
--eui-grey: #595959;
--eui-grey-rgb: 89, 89, 89;
--eui-dark-grey: #3F3C3C;
--eui-dark-grey-rgb: 63, 60, 60;
--eui-danger: #A91E2C;
--eui-danger-rgb: 169, 30, 44;
--eui-danger-dark: #aa1e2c;
--eui-danger-dark-rgb: 170, 30, 44;
--eui-warning: #ffc107;
--eui-warning-rgb: 255, 193, 7;
--eui-warning-dark: #F0B010;
--eui-warning-dark-rgb: 240, 176, 16;
--eui-success: #198754;
--eui-success-rgb: 25, 135, 84;
--eui-success-dark: #146c43;
--eui-success-dark-rgb: 20, 108, 67;
--eui-highlight: #ffff00;
--eui-border: #dee2e6;
--sou-primary: #003865;
--sou-primary-rgb: 0, 56, 101;
--bs-bg-opacity: 1;
--bs-breadcrumb-divider: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23767676'/%3E%3C/svg%3E);
--bs-breadcrumb-divider-white: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23FFFFFF'/%3E%3C/svg%3E);
--bs-modal-width: 80vh;
}