/* Define color palette as CSS variables */
:root {
  --color-one: #32baa7;
  --color-two: #63d8a2;
  --color-three: #b9f27b;
  --color-four: #fff200;
  --color-accent: #f61067;
}

/* global text */
svg text,
svg g text,
svg tspan,
[class*="plot-"][class*="swatch"],
[class*="plot-"][class*="swatches"] {
  font-size: clamp(0.8rem, 0.5vw + 0.05rem, 1rem) !important;
}

/* [class*="plot-d6a7b5"] text {
  font-size: clamp(1.5rem, 0.5vw + 0.05rem, 1rem) !important;
} */

/* background */
html {
  min-height: 100vh; /* Ensure the body always covers the full viewport height */
  /* background-color: #fff; */
  /* background-repeat: no-repeat; */
}

/* all text */
* {
  font-family: "Nunito Sans", sans-serif;
}

/* text in graphics */
div > * {
  /* font-size: 18px; */
  font-size: 0.95em;
}

div > form > div,
div > div > form > label,
div > div > form > #inputs-3a86ea-1 {
  font-size: 1.1em;
}

.grid > *,
.hero > p {
  /* font-size: 18px; */
  font-size: 1.05em;
}

/* landing page hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  margin: 4rem 0 4rem;
  /* text-wrap: balance; */
  text-align: center;
}

#hero-image {
  position: absolute;
  top: -5vh;
  /* left: 25vh; */
  width: 50vh;
  height: 50vh;
  /* rotate: -30deg; */
  background-image: url("https://raw.githubusercontent.com/cdtrich/dfi/refs/heads/main/img/compass.svg");
  background-size: cover;
  opacity: 0.3; /* Adjust opacity for the background image */
  z-index: -1;
}

.hero h1 {
  margin: 2rem 0;
  max-width: none;
  font-size: 14vw;
  font-weight: 900;
  line-height: 1;
  /* color: #d9d4eaff; */
  /* color: #040404; */
  color: #222;
  background-clip: text;
}

/* centered text */
#pillar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  /* text-wrap: balance; */
  text-align: center;
}

heading-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 2em;
  font-weight: normal;
}

.hero h2 {
  margin: 0;
  max-width: 34em;
  font-size: 20px;
  font-style: initial;
  font-weight: 500;
  line-height: 1.5;
  color: #222;
}

a.observablehq-header-anchor {
  /* color: #222 !important; */
}

/* toc */
.observablehq-secondary-link-highlight {
  background-color: #fff !important;
}

.observablehq-secondary-link-active a {
  color: #fff !important;
}

/* country page button */
#countryButton {
  width: 100%;
  height: 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Thin white outline */
  background-color: rgba(255, 255, 255, 0); /* Thin white outline */
  border-radius: 8px; /* Rounded edges */
  font-size: 0.9em;
  color: white; /* White text (including the span text) */
  padding: 16px; /* Add some padding inside the button */
  text-align: center; /* Center the text horizontally */
  display: flex; /* Use flexbox for vertical alignment */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}
/* Ensure the text inside the button (span) is white */
#countryButton span {
  color: white; /* Text color inside the button */
}

/* Remove underline from link text inside the button */
#countryButton a {
  text-decoration: none !important; /* No underline by default */
}

/* Maintain no underline on hover */
a:hover {
  text-decoration: none !important; /* Keep text-decoration none on hover */
}

/* Hover effect */
#countryButton:hover {
  background-color: white; /* Fill with white on hover */
  color: #3c4099; /* Change the general text color on hover */
}

/* Ensure the span text changes color on hover */
#countryButton:hover span {
  color: #3c4099; /* Change span text color to #3c4099 on hover */
}

/* plot legends */
/* center-align above plot */
div[class*="-swatches-"] {
  display: flex;
  justify-content: center;
}

/* country practices cards */
.goodpracticecard {
  border: 1px solid #444; /* Thin white outline */
  border-radius: 8px; /* Rounded edges */
  font-size: 1em;
  /* font-size: 0.9em; */
  color: #222; /* White text (including the span text) */
  padding: 16px; /* Add some padding inside the card */
  text-align: left; /* Center the text */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

/* Ensure the text inside the card (span) is white */
.goodpracticecard span {
  color: #222; /* Text color inside the card */
}

/* Remove underline from link text inside the card */
.goodpracticecard a {
  text-decoration: none !important; /* No underline by default */
}

/* Maintain no underline on hover */
a:hover {
  text-decoration: none !important; /* Keep text-decoration none on hover */
}

/* Hover effect */
.goodpracticecard:hover {
  background-color: #32baa8; /* Fill with white on hover */
  border: 5px solid #32baa8; /* Thin white outline */
  color: #fff; /* Change the general text color on hover */
}

/* Ensure the span text changes color on hover */
.goodpracticecard:hover span {
  color: #fff; /* Change span text color to #3c4099 on hover */
}

/* what's this??? */
.card {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: 0;
}

.card .key {
  border: solid 1px var (--theme-foreground-faintest);
}

/* back to root button */
.back-to-root {
  position: sticky;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  /* background-color: #0d0d0d; */
  border: 1px solid #222;
  background-color: #fff;
  /* background-color: #efeee9; */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-family: sans-serif;
  z-index: 10;
}

.back-to-root:hover {
  opacity: 0.5; /* Fade out the circle and the arrow on hover */
}

.back-to-root:hover::before {
  transform: translateX(-10px);
  opacity: 0;
}

.back-to-root .arrow {
  display: inline-block;
  border: solid #222;
  border-width: 0px 0px 2px 2px;
  padding: 5px;
  transform: rotate(45deg);
  transition: opacity 0.3s ease;
}

.back-to-root:hover .arrow {
  opacity: 0; /* Arrow fades out */
}

.back-to-root:focus {
  outline: none;
}

@media (min-width: 640px) {
  .hero h1 {
    font-size: 90px;
  }
}

/* prevent native tooltip on polarplot */
/* Ensure custom CSS to disable native tooltips */
circle[title]::after {
  content: none;
}

/* style tooltip */
/* Target the tooltip fill */
g[aria-label="tip"] path {
  /* fill: #dcdcee; Tooltip background color */
  fill: #fff;
}

/* Target the text color inside the tooltip */
g[aria-label="tip"] text {
  fill: #222; /* Tooltip text color */
}

.img-col {
  width: 100%;
  background-color: inherit;
  mix-blend-mode: multiply;
}

/* hide facet labels on polarPlotMultiple */
/* this one for straight plot */
g[aria-label="fy-axis tick label"],
/* these for polarPlotMultiple */
#polarPlotMultiple g[aria-label="fx-axis tick label"],
#polarPlotMultiple g[aria-label="fy-axis tick label"] {
  display: none;
}

/* disable pointer events on ohq tooltip */
g[aria-label="tip"] {
  pointer-events: none;
}
